<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="container">

  <h1>Cocktails</h1>
  <%= link_to "Add a cocktail", new_cocktail_path %>

  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to (cocktail_path(cocktail)) do%>
        <% if !cocktail.photo.url.nil? %>
        <%= cl_image_tag cocktail.photo, height: 100, width: 100, crop: :fill %>
        <% end %>
          <%= cocktail.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
