<div class="container">

  <h1>Cocktails</h1>
  <%= link_to "Add a cocktail", new_cocktail_path %>

  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to (cocktail_path(cocktail)) do%>
        <% if !cocktail.photo.url.nil? %>
        <%= cl_image_tag cocktail.photo, height: 100, width: 100, crop: :fill %>
        <% end %>
          <%= cocktail.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
