<div class="banner-content">
      <h1>
        COCKTAILS & Co.
        <br>
      <small><p>Welcome onboard.<p></small>
      </h1>
        <!--     <a class="btn btn-primary btn-lg">Start now</a>
   -->
    </div>
